{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row pt-3">
    <div class="col-md-9">
        <div class="card card-default card-body" style="border-color: white;">
            <h7 class="text-bold" style="font-weight: 600; font-size: 13px;">{{title|upper}}</h7>
            <div class="row pt-4">
                <div class="col-md-4">
                    <div class="card-header">
                        <p style="font-weight: 700; font-size: 12px;">Revenue</p> <br>
                        <h2>{{revenue_amount|intcomma}}</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-header">
                        <p style="font-weight: 700; font-size: 12px;">Clients</p> <br>
                        <h2>{{members}}</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    one
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card card-default card-body" style="border-color: white; border-radius: 0px;">
            <p class="text-bold" style="font-weight: 600;">Total Loan</p>
        </div>
    </div>
</div>

<div class="pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default card-body" style="border-color: white;">
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-bold" style="font-weight: 600; font-size: 13px;">Payment Analysis</p>
                    </div>
                    <div class="col-md-2">
                        two
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-default card-body" style="border-color: white;">
                one
            </div>
        </div>
    </div>
</div>
<div class="pt-3">

</div>
{% endblock content %}