{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="pt-3">
    
    {% if loan.borrower.first_name %}
        <div class="d-flex justify-content-between text-center align-items-center">
            <div>
                <p>{{loan.borrower.first_name}} {{loan.borrower.last_name}}/{{loan.amount|intcomma}}</p>
            </div>
            <div>
                
                {% if loan.status == 2 %}
                    <p>Approved</p>
                    <!-- <a href="">
                        <button type="button" class="btn btn-success btn-sm">Approved</button>
                    </a> -->
                {% else %}
                    <a href="javascript:" data-href="{% url 'approve_loan' loan.id %}" class="confirm-approve-link">
                        <button type="button" class="btn btn-primary btn-sm">Approve</button>
                    </a>
                {% endif %}
                    
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-between text-center align-items-center">
            <div>
                <p class="" style="font-weight: 600;">{{loan.amount|intcomma}} Tzs</p>
            </div>
            <div>
                <!-- <p>approve</p> -->
            </div>
        </div>
    {% endif %}

</div>

<div class="pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header" style="background-color: black;">
                    <p style="font-weight: 500; font-size: 14px;">LOAN SUMMARY</p>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px;">Client Name: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.borrower.first_name|upper}} {{loan.borrower.last_name|upper}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px;">Identity: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.borrower.identity}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">Loan Amount: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.amount|intcomma}} Tzs</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">Interest Rate: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.interest_rate}} %</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">Interest: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.interest_amount|intcomma}} Tzs</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">Start From: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.start_date}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">End Date: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.end_date}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">Total Return: </p>
                        </div>
                        <div>
                            <p style="font-size: 13px;">{{loan.total_interest_amount|intcomma}} Tzs</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between text-center align-items-center">
                        <div>
                            <p style="font-size: 13px">DOCUMENT: </p>
                        </div>
                        <div>
                            {{loan.id}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>
                Remaining Loan
            </h1>
            <div>
                
                {% if remaining_amount %}
                    {% if loan.amount < payment.payment_amount %}
                        <h3 style="color: red;">{{remaining_amount|intcomma}}</h3>
                    {% else %}
                        <h3 >{{remaining_amount|intcomma}}</h3>
                    {% endif %}
                {% else %}
                    <p>no payment yet..</p>
                {% endif %}
                    
                    
            </div>
        </div>
    </div>
</div>

<div class="pt-3">
    <div>
        <p>Loan Payments</p>
    </div>
    <div class="card card-default">
        <div class="card-header">
            <div class="d-flex justify-content-between text-center align-items-center">
                <div>
                    <h6>Search Bar</h6>
                </div>
                <div>
                    <a href="javascript:" data-href="{% url 'create_payment' loan.id %}" class="new-payment-link">
                        <button class="btn btn-primary me-md-2" type="button" style="border-radius: 20px;">Create Payment</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Payment Date</th>
                      <th scope="col">Payment Number</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Payment Method</th>
                      <th scope="col">Remaining</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
  
                    </tr>
                </thead>
                <tbody>
                    
                    {% if payment %}
                        
                        {% for payment in payment %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.payment_number }}</td>
                                <td>{{ payment.payment_amount|intcomma }}</td>
                                <td>
                                    
                                    {% if payment.payment_method == 1 %}
                                        <span class="badge bg-success">CASH</span>
                                    {% elif payment.payment_method == 2 %}
                                        <span class="badge bg-success">BANK</span>
                                    {% else %}
                                        <span class="badge bg-success">MOBILE MONEY</span>
                                        
                                        {% if payment.payment_method == 3  %}
                                            <span>#phone number</span>
                                        {% endif %}
                                            
                                    {% endif %}
                                </td>
                                <td>{{ payment.principal_amount|intcomma }}</td>
                                <td>
                                    {% if payment.status == 1 %}
                                        <span class="badge bg-success">{{payment.get_status_display}}</span>
                                    {% else %}
                                        <span class="badge bg-danger">{{payment.get_status_display}}</span>
                                    {% endif %}
                                </td>
                                <td>action</td>
                            </tr>
                        {% endfor %}
                            
                    {% else %}
                        <tr id="not-bills-table-items">
                            <td colspan="10">
                                <div class="alert alert-info text-center">
                                    <h3>No Payments Made ...</h3>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                        
                </tbody>
            </table>
        </div>
    </div>
</div>

    
<div class="pt-3">

</div>
{% endblock content %}


{% block scripts %}
<!-- <script src="{% static 'assets/borrower/add_borrower.js' %}"></script> -->
    <script src="/static/assets/js/helpers.js"></script>
    <script>
        $(function(){
            $(document).on('click', '.new-payment-link', function() {
            let url = $(this).data('href');
            let title = "CREATE PAYMENT";   
            let columnClass = "col-md-7"
            let formSelector = ".create-new-payment-form"
            let containerFluid = false

            ajaxPost(title, url, columnClass, containerFluid, formSelector);
            })
        });

        $(document).on("click", ".confirm-approve-link", function (e) {
            e.preventDefault();
            let title = "Approve Loan";
            let url = $(this).data('href');
            let content = "Are you Sure?";
            
            ajaxConfirm(title, url, content);
        });

    
        function datePickerSelector() {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startView: 0,
                todayBtn: false,
                clearBtn: true,
                autoclose: true,
                todayHighlight: true
            });
        }

    </script>
{% endblock scripts %}