<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Yours</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Yours">

        <link type="text/css" href="/static/uikit/css/uikit.min.css" rel="stylesheet">

        <link type="text/css" href="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-  datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://kit.fontawesome.com/abd634defa.js" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-  datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        {% block stylesheets %}
        
        {% endblock stylesheets %}

    </head>

    <body>
        <body style="background-color: #F5F9FA;">
            {% load static %}
            {% include 'common/side_bar.html' %}
    
            <main class="content">
                {% include 'common/navbar.html' %}
                <div class="">
                    {% block content %}

                    {% endblock content %} 
                </div>
            </main>
            {% include 'includes/scripts.html' %}
        
            {% block scripts %}
            
            {% endblock scripts %}
        </body>
        {% load static %}
    </body>
</html>