<nav id="sidebarMenu" class="sidebar d-lg-block text-white collapse" data-simplebar style="background-color: #000000;">
    <div class="sidebar-inner px-4 pt-3">
      <div class="sidebar">
        <div class="col pt-4">
          <h3 class="text-center">LOGO</h3>
        </div>
        <hr>
        <ul class="nav flex-column" style="padding: 10px;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}" style="font-size: 15px;">
              <i class="fas fa-home" style="padding-right: 10px; color: grey;"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'loan_book' %}" style="font-size: 15px;">
              <i class="fas fa-user" style="padding-right: 10px; color: grey;"></i> Loan Book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 15px;">
              <i class="fas fa-cog" style="padding-right: 10px; color: grey;"></i> Savings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 15px;">
              <i class="fas fa-cog" style="padding-right: 10px; color: grey;"></i>Loan History
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'members' %}" style="font-size: 15px;">
              <i class="fas fa-cog" style="padding-right: 10px; color: grey;"></i> Members
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'roles' %}" style="font-size: 15px;">
              <i class="fas fa-cog" style="padding-right: 10px; color: grey;"></i> Roles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reports' %}" style="font-size: 15px;">
              <i class="fas fa-cog" style="padding-right: 10px; color: grey;"></i> Reports
            </a>
          </li>
          <li class="nav-item">
            <span
              class="nav-link @@if (context.page_group !== 'page_examples') { collapsed } d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse" data-bs-target="#submenu-pages">
              <span>
                <span class="sidebar-icon">
                  <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
                </span> 
                <span class="sidebar-text">Application</span>
              </span>
              <span class="link-arrow">
                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </span>
            </span>
            <div class="multi-level collapse " role="list"
              id="submenu-pages" aria-expanded="false">
              <ul class="flex-column nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'review_loan_info' %}">
                    <span class="sidebar-text">Review Loan</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@@path/pages/examples/sign-up.html">
                    <span class="sidebar-text">Credit Worthness</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@@path/pages/examples/forgot-password.html">
                    <span class="sidebar-text">Collateral Review</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@@path/pages/examples/reset-password.html">
                    <span class="sidebar-text">Approvement</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@@path/pages/examples/reset-password.html">
                    <span class="sidebar-text">Disburs Fund</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>