{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}
<div class="container pt-3" style="height: 100vh">
    {% comment %} {% if messages %}
        <div class="alert-container" style="position: fixed; top: 50%; right: 20px; transform: translateY(-50%); z-index: 9999; transition: opacity 0.5s;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" style="margin-bottom: 10px;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %} {% endcomment %}

    <div class="card card-default">
        <div class="card-header">
            <h5>Loan Information</h5>
        </div>
        <div class="card-body">
            <form class="create-new-loan-form" action="{% url 'create_new_loan'  %}" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% load widget_tweaks %}
            
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Select Client</label>
                                <select class="form-select" aria-label="Disabled select example" data-live-search="true">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                  
                                  

                                {% if form.borrower.errors %}
                                    <div class="text-danger">
                                        <p class="text">{{ form.borrower.errors }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#mySelect').selectpicker();
        });
    </script>
{% endblock script %}